<div class="camp-image"></div>

  <div class="show">
    <%= link_to @camp.user.name, "#", class: "user-name" %>
      <% if user_signed_in? %>
      <% if current_user.id == @camp.user_id %>
        <%= link_to '編集', edit_camp_path(@camp.id), class: "show-edit" %>
        <label>
          <span>削除</span>
          <input type="checkbox" name="checkbox">
        <div id="popup"><p>本当に削除しますか？</p>
        <%= link_to '削除', camp_path(@camp.id), method: :delete, class:'show-destroy' %>
        <%= link_to 'キャンセル', camp_path(@camp.id), class:'show-can' %>
        </div>
        </label>
      <% end %>
    <% end %>
  </div>

<div class="camp-show">
  <%= image_tag @camp.image ,class:"item-box-img" %>
    <div class="name">
    <p>タイトル</p>
      <div class="show-title">
        <%= @camp.title %>
      </div>
    <p>概要</p>
      <div class="show-text">
        <%= @camp.text %>
      </div>
    <p>カテゴリー</p>
      <div class="show-category">
        <%= @camp.category %>
      </div>
    </div>
</div>

  <div class="comment-box">
    <p>コメント欄</p>
      <form>
        <textarea class="comment-text">例）こんにちは</textarea>
        <button type="submit" class="comment-btn">
          <span>コメントを送信する<span>
        </button>
      </form>
  </div>